<main>
    <div class="container">
        <section class="hero">
            <h1>Bienvenidos a TecnoCeramic</h1>
            <p>Explora el fascinante mundo de la talavera con nosotros. Encuentra información, productos y más.</p>
        </section>
        <section class="info-section">
            <h2>Sobre la Talavera</h2>
            <p>La Talavera es una cerámica tradicional originaria de Puebla, México, conocida por sus intrincados diseños y colores vibrantes. Es un símbolo de la rica herencia cultural y artística de la región.</p>
            <p>En TecnoCeramic, nos especializamos en la creación y distribución de piezas de talavera de alta calidad, combinando técnicas artesanales con innovaciones modernas para ofrecer productos únicos y de excelencia.</p>
            <p>Para más información sobre la Talavera, visita esta <a href="https://www.talaveracasaisidroyrafaela.com/blogs/quienes-somos/ceramica-o-talavera?srsltid=AfmBOoqXibJ2lXbMuqbPwbLMGlodoAL-mfdPoXavbxcASTpWEtIhhhfq" target="_blank" style="color: #5c0030; text-decoration: underline;">página de información detallada</a>.</p>
        </section>
        <section class="info-section">
            <h2>Nuestros Productos</h2>
            <p>Ofrecemos una amplia variedad de productos de talavera, incluyendo azulejos, vajillas, jarrones y más. Cada pieza es cuidadosamente elaborada por artesanos expertos, asegurando la máxima calidad y autenticidad.</p>
        </section>
        <section class="info-section">
            <h2>Contacto</h2>
            <p>Para más información, puedes contactarnos a través de nuestro correo electrónico: info.com o llamarnos al número: +52 124 5458.</p>
        </section>
        <hr>
        <div class="images-section">
            <img src="/assets/ceramica.jpg" alt="imagen de ceramica"> 
            <img src="/assets/pal banio.jpg" alt="pal banio"> 
            <img src="/assets/lagartija.jpg" alt="lagartija imagen">
            <img src="/assets/jake funko.gif" alt="jakey">
        </div>
    </div>
</main>
<footer>
    <div class="container">
        <p>&copy; 2024 TecnoCeramic. Todos los derechos reservados.</p>
    </div>
</footer>
